.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
quarot.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
*.egg-info/
Makefile
**/experiments
**/experiments*
**/build
*.pth
**/*.pth
*.out
*.pt
.ipynb_checkpoints/
**/__pycache__/
_pycache_/
**/__pycache__
*egg-info/
**/*egg-info/
**/*egg-info
data/